{% extends 'base.html' %}

{% block title %}
Hapus Siswa
{% endblock %}

{% block content %}



    <div class="bg-red-50 border border-red-200 rounded-lg p-4 mb-5">
        <h2 class="text-red-700 font-bold text-sm">
            Apakah Anda yakin ingin menghapus data ini?
        </h2>
        <p class="text-red-600 text-sm font-semibold mt-1">
            Data yang sudah dihapus tidak dapat dikembalikan.
        </p>
    </div>

    <div class="p-4 rounded-lg bg-slate-50 border border-slate-200">
            <p class="font-semibold text-slate-900">nama : {{siswa.nama}}</p>
            <p class="font-semibold text-slate-900">umur : {{siswa.umur}}</p>
            <p class="font-semibold text-slate-900">tgl lahir : {{siswa.tgl_lahir}}</p>
        </div>

    <form method="post" class="flex gap-3 mt-3">
        {% csrf_token %}

        <button
            type="submit"
            class="bg-red-600 text-white px-4 py-2 rounded-lg">
            Ya, Hapus
        </button>

        <a href="{% url 'siswa_list' %}"
           class="bg-gray-300 px-4 py-2 rounded-lg">
            Batal
        </a>
    </form>


{% endblock %}